<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Registration</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-container">

        <div class="login-card">

            <h1>🏃 Fitness Tracker</h1>

            <p>Create Student Account</p>

            <form method="POST">

                <label>Username</label>

                <input type="text"
                       name="username"
                       placeholder="Create username"
                       required>

                <label>Password</label>

                <input type="password"
                       name="password"
                       placeholder="Create password"
                       required>

                <button type="submit">
                    Register
                </button>

            </form>

            <p>
                Already have an account?
                <a href="/login">Login</a>
            </p>

        </div>

    </div>

</body>

</html>